{% extends 'basAdmin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

{#  {{ include('user/_form.html.twig') }}#}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}


    <a href="{{ path('app_user_index') }}">back to list</a>
{% endblock %}
